@import url('https://fonts.googleapis.com/css?family=Righteous');

/* Variables  */
:root{
	--cursive: cursive;
	--purple-dark: #700046;
	--purple-lighten: #880e4f;
	--pink-hover: #f7d4ea;
	--pink-lighten: #d893be;
	--grey-lighten: #ecf0f1;
	--space-inner: 10%;
}

/*============================ RESET ============================*/

*{margin: 0; padding: 0;}
body{
	font-family: 'Righteous', cursive;
	color: var(--purple-dark);
}
a {text-decoration: none; color: var(--pink-lighten);}
img{margin:0 auto; width: 100%;}

/*=========================== NAVBAR ===========================*/
.navbar-outro {
    background-color: transparent;
    border-color: transparent;
}

.navbar-mobile{
	position: relative;
	min-height: 50px;
	margin-bottom: -53px;
	border: 1px solid transparent;
}

.navbar-scroll{
	background-color: var(--purple-dark);
	border-color: transparent;
}

.navbar-scroll .navbar-brand:hover,
.navbar-scroll .navbar-brand:focus{
  	background-color: transparent;
  	color: var(--pink-hover)
}
.navbar-scroll .navbar-nav > li > a:hover,
.navbar-scroll .navbar-nav > li > a:focus {
  	background-color: transparent;
  	color: var(--pink-hover)
}

.navbar-outro .navbar-brand {
    color: var(--pink-lighten);
    font-size: 1.5em;
}

.navbar-outro .navbar-nav>li>a {
    color: var(--pink-lighten);
    font-size: 1.2em;
}

.navbar-outro .navbar-brand:hover,
.navbar-outro .navbar-brand:focus{
  	background-color: transparent;
  	color: var(--pink-hover)
}
.navbar-outro .navbar-nav > li > a:hover,
.navbar-outro .navbar-nav > li > a:focus {
  	background-color: transparent;
  	color: var(--pink-hover)
}

.navbar-outro .navbar-toggle {
  border: 2px solid var(--pink-lighten);
  border-radius: 5px;
}
.navbar-outro .navbar-toggle:hover,
.navbar-outro .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-outro .navbar-toggle .icon-bar {
  background-color: var(--pink-lighten);
}
.navbar-outro .navbar-collapse{
  border-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
	background-color: var(--purple-dark);
}

.dropdown-menu>li>a{
	background-color: var(--purple-dark);
	color: var(--pink-lighten);
	border: transparent;
}
.dropdown-menu>li>a:hover{
	background-color: var(--purple-dark);
	color: var(--pink-hover);
	border: var(--purple-dark);

}

.dropdown-menu>li>a:focus{
	background-color: transparent;
}

@media (max-width: 767px) {
	.dropdown-menu>li>a{
	background-color: transparent;
	color: var(--pink-lighten);
	border: transparent;
	}
	.dropdown-menu>li>a:hover{
	background-color: transparent;
	color: var(--pink-hover);
	border: transparent;
	}
}

/*========================= BUTTON-FIXED =========================*/
.help-button{
	cursor: pointer;
	position: fixed;
	bottom: 25%;
	left: 1%;
	width: 4%;
	height: 8%;
	animation: pulse 1s infinite alternate;

}

.help-button img{
	width: 100%;
	height: 100%;
}

@keyframes pulse {
  0%   {transform: scale(0.7);}
  100% {transform: scale(0.9);}
}

/*============================ MAIN ============================*/
.fun{
	background: #700046 fixed;
  color: #f7d4ea;
  padding-top: var(--space-inner);
  padding-bottom: var(--space-inner);
}

.sustainable{
	background: #f7d4ea fixed;
  color: #880e4f;
  padding-top: var(--space-inner);
  padding-bottom: var(--space-inner);
}

.ticket{
	background: #700046 fixed;
  color: #f7d4ea;
  padding-top: var(--space-inner);
  padding-bottom: var(--space-inner);
}

.category{
	background: #f7d4ea fixed;
  color: #880e4f;
  padding-top: var(--space-inner);
  padding-bottom: var(--space-inner);
}
.img-category img{
	box-shadow: #700046 0.2em 0.3em 0.2em;
}
/*============================ FOOTER ============================*/

.footer{
	background: var(--purple-dark);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-size: 1em;
	padding: 45px 50px;
}

.footer p{
	color:  var(--pink-lighten);
	font-size: 1em;
	margin: 0;
}

.footer .footer-links{
	color:  var(--pink-lighten);
	margin: 0 0 10px;
	padding: 0;
}

.footer  .footer-links a{
	font-size: 1.125em;
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  var(--pink-lighten);
}

.footer .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  var(--purple-lighten);
	border-radius: 5px;
	font-size: 20px;
	color: var(--pink-lighten);
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

.footer .footer-links a:hover{color: var(--pink-hover);}
.footer .footer-right a:hover{color: var(--pink-hover);}

@media (max-width: 600px) {

	.footer .footer-left,
	.footer .footer-right{
		text-align: center;
	}

	.footer .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer .footer-left p .footer-links{
		line-height: 1.8;
	}

	.footer-left{
		padding-bottom: 2%;
	}
}
